.bdsft-webrtc
	.transferPopup.fadeable.popup.classes.centered
		.title Transfer
		div
			input.target(type='text', placeholder='To Target')
		.actions
			button.accept.button(type='button') Transfer
			button.reject.button(type='button') Cancel