.bdsft-client
	.transferPopup
		color white
		.target
			width 200px
		.actions
			padding 10px
		.reject
			color red

	.transferPopup.enableTransfer.started.transfer-shown
		{fadeInPopup}

	.transferPopup.enableTransfer.not(.transfer-shown)
		{fadeOut}
